*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

.section{
    padding: 120px 0px;
}



/* HEADER  */

.container-header {
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(231, 233, 252, 1);
  width: 1140px;
  height: 72px;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc
}

.headerlogo {
  color: #2e2f42;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 700;
  margin-left: 156px;
}

.navbar {
  display: flex;
  gap: 40px;
  margin-right: 210px;
}

.navlink {
  text-decoration: none;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

.navlink:hover {
  color: #404bbf;
}

.navlink:active {
  border-bottom: 2px solid #404bbf;
}

.header-address {
  gap: 20px;
  display: flex;
}

.address {
  color: #2e2f42;
}

.address:hover {
  color: #404bbf;
}

.nav-address{
    margin-right: 156px;
}

a{
    text-decoration: none;
}


/* HERO SECTİON */
.hero-section {
  height: 600px;
  background-color: #2e2f42;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 24px;
}

.hero-section h1 {
  color: white;
  font-size: 56px;
  line-height: 60px;
  max-width: 496px;
}

.btn {
  background-color: #4d5ae5;
  color: white;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  padding: 16px 32px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-color: #404bbf;
}


/* FEATURES SECTION */
.features-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px; 
  flex-wrap: wrap;
}

.features-item {
  width: 264px;
}

.feature-title {
  font-size: 20px;
  line-height: 1.5;
  color: rgba(46, 47, 66, 1);
}

.feature-text {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(67, 68, 85, 1);
}


/* TEAM SECTION */
.main-team-section {
  background-color: rgba(244, 244, 253, 1);
  text-align: center;
}

.main-team-section h2 {
  font-size: 36px;
  line-height: 1.5;
  margin-bottom: 72px;
}

.team-list {
  list-style: none;
  display: flex;
  gap: 32px; 
  justify-content: center;
}

.team-card {
  background-color: white;
  padding-bottom: 68px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.team-card h3 {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.team-card p {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.nameandjob{
    position: relative;
    top: 25px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


/* PORTFOLIO SECTION */
.main-portfolio-section{
    text-align: center;
    padding-bottom: 120px;
    padding-top: 120px;
}

.main-portfolio-section h2 {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 72px;
}

.portfolio-list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 24px;
    margin-bottom: 40px;
    padding: 120px 120px;
    
}



.portfolio-card h3 {
  
  font-size: 20px;
  line-height: 1.2;
}

.portfolio-card p {
  font-size: 16px;
  line-height: 1.5;
}

img{
display: block;
}

.portfolio-name{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid rgba(231, 233, 252, 1);
    border-bottom: 1px solid rgba(231, 233, 252, 1);
    border-left: 1px solid rgba(231, 233, 252, 1);
    gap: 8px;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 16px;
}


/* FOOTER */
footer {
  background-color: #2e2f42;
}

.footerDiv {
    display: flex;
    align-items: center;
    padding: 24px 0px 24px 156px;
    height: 312px;
}

.footerText {
    display: flex;
    flex-direction: column;
    gap: 10px;
  width: 264px;
  height: 112px;
}

.footerText p {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
}

.footerlogo {
  color: white;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
}
